.column {
  background: rgba(255, 255, 255, 0.05); 
  border-radius: 18px;
  box-shadow: 0 2px 12px rgba(0,0,0,0.07);
  border: 1px solid #383838;
  padding: 18px 14px 14px 14px;
  margin: 0 12px 0 0;
  min-width: 290px;
  max-width: 320px;
  width: 100%;
  display: flex;
  flex-direction: column;
  transition: box-shadow 0.2s;

  // Responsive styles for mobile
  @media (max-width: 600px) {
    min-width: unset;
    max-width: unset;
    width: 90%;
    margin: 0 0 24px 0;
  }

  &:hover {
    box-shadow: 0 6px 24px rgba(0,0,0,0.13);
  }

  .column-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;


    &--title {
      display:flex;
      align-items: center;
      gap: 8px;
    }

        &--button {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 6px;
    }

    h3 {
      font-size: 1.15rem;
      font-weight: 600;
      color: white;
      margin: 0;
      cursor: pointer;
      transition: color 0.15s;
      &:hover {
        color: #1976d2;
      }
    }
    .delete-btn {
      background: #ac0142;
      color: #fff;
      border: none;
      border-radius: 8px;
      padding: 7px 16px;
      // font-size: 1rem;
      font-weight: 500;
      cursor: pointer;
      transition: background 0.15s;

      &:hover {
        background: #940039;
      }
    }

     .material-icons {
      font-size: 16px;
      }
  }

  .cards-list {
    flex: 1;
    min-height: 20px;
    margin-bottom: 10px;
  }

  .add-card {
    display: flex;
    align-items: center;
    gap: 6px;

    input {
      flex: 1;
      border: none;
      border-radius: 8px;
      padding: 7px 10px;
      font-size: 1rem;
      background: #fff;
      box-shadow: 0 1px 3px rgba(0,0,0,0.04);
      outline: none;
      transition: box-shadow 0.15s;
      &:focus {
        box-shadow: 0 2px 8px rgba(25, 118, 210, 0.08);
      }
    }

    button {
      background: #8616fd;
      color: #fff;
      border: none;
      border-radius: 8px;
      padding: 7px 16px;
      font-weight: 500;
      cursor: pointer;
      transition: background 0.15s;
      
      &:hover {
        background: #570fa5;
      }
    }

    .material-icons {
      font-size: 16px;
    }
  }
}